


.image-root {
    border: 0;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 20px;
}




.box2-top {
    width:450px; 
    height:90px; 
    background-color:yellow; 
    border-radius: 20px;
}

.box2-middle{
    width:450px; 
    height:550px; 
    background-color:#666666; 
    overflow:auto;
}